.eldSearch{
    width: 50%;
    border-bottom: solid 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 5px;
    background-color: #eaeef1;
    height: 30px;
  }
  .eldText{
    /* left: 67rem;
    top: 10px !important; */
    font-weight: 500 !important;
    color: black !important;
    font-style: normal !important;
    margin-left: .5rem;
  }
  #iconCOB{
    font-size: 16px;
    background-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkslategrey;
    color: transparent;
    margin: 5px ;
  }
  .image{
		height: 50px;
		width: 100px;
		object-fit: contain;
	}